body {
    font-family: Arial, sans-serif;
}

#productForm {
    margin-bottom: 20px;
}

#productList {
    padding: 0;
}

#productList li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: grab;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
